name: CI - Build and Test Service

on: [pull_request]
jobs:
  continuous-tests:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: "1.25"

      - name: Check out code into the Go module directory
        uses: actions/checkout@v6

      - name: go fmt
        run: test -z $(gofmt -l .)

      - name: go vet
        run: go vet ./...

      - name: golint
        run: go install golang.org/x/lint/golint@latest && golint ./...

      - name: test
        run: go test -timeout 60s -race ./...

  docker:
    name: Docker
    runs-on: ubuntu-latest

    services:
      redis:
        image: redis:alpine
        ports:
          - 6379:6379

    steps:
      - name: Check out code
        uses: actions/checkout@v6

      - name: create secrets
        run: |
          mkdir secrets
          printf "password" > secrets/postgres_password
          printf "my_token_key" > secrets/auth_token_key
          printf "my_cookie_key" > secrets/auth_cookie_key

      - name: Start With Docker
        run: |
          docker build . --tag openslides-vote
          timeout --preserve-status --signal=SIGINT 5s docker run --network host -v $PWD/secrets:/run/secrets openslides-vote
        env:
          DOCKER_BUILDKIT: 1
